<div id="example1" class="sdc-scroll-to-top" data-component-name="sdc-scroll-to-top">

	<div class="some-container">
       {{#each dummyItems}}
           <div class="dummy-item">{{text}}</div>
       {{/each}}
    </div>

</div>