// This is a basic style file with a single class.
// If you wish, you can uncomment the toolkit below to apply some default styles.
//
// @import 'sky-toolkit-core/all';
// @import 'sky-toolkit-ui/components/buttons';
// @import 'sky-toolkit-ui/components/forms';
// @import 'sky-toolkit-ui/components/tables';
// @import 'sky-toolkit-ui/components/typography';

.blackjack-sdc-scroll-to-top { color: green; }

.scroll-to-top-button {
  visibility: hidden;

  &--is-visible {
    visibility: visible;
    display: inline-block;
    background: url("/resources/icons/scroll-to-top.png") no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 1;
    z-index: 1000;
    border-style: hidden;
  }
}

.scroll-to-top-button--is-visible:hover {
  cursor: pointer;
}

button:focus { outline: 0; }
